
.hamburger__icon{
        position: absolute;
        z-index: 5;
        left: 0.5em;
        top: 0.5em; 
        &:hover {
            cursor: pointer;
        }
        div {
            position: relative;
            width: 2em;                
            height: 3px;
            border-radius: 3px;
            background-color: black;
            margin-top: 8px;
            transition: all 0.3s ease-in-out;
        }
}
#toggle {
    display: none;
    
    &:checked + .hamburger__icon .hamburger__icon__top-bun {
        transform: rotate(-45deg);
        background-color: black;
        margin-top: 20px;   
    }
    &:checked + .hamburger__icon .hamburger__icon__meat {
        opacity: 0;
        transform: rotate(45deg);
    }
    &:checked + .hamburger__icon .hamburger__icon__bottom-bun {
        transform: rotate(45deg);
        background-color: black;
        margin-top: -14px;
    }
        
    &:checked  + .hamburger__icon + .menu{
        top: 0;
        transform: scale(1);
    }
}

.menu{
    position: fixed;
    background-color: black;
    top: -100%;
    transition: all 0.3s ease-in-out;
    transform: scale(0);
}