body{
    margin: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    font-family: cursive;

    header{
        display: flex;
        position: relative;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        background-color: #810000;
        color: white;
        height: 100px;  

        .header-title{
            display: flex;
            justify-content: center;
            font-size: 2em;
            display: flex;
            width: 100%;  
            text-transform: uppercase;
            font-weight: 700;
            letter-spacing: 2px;

            .header-title span{
                z-index: 1;
            }
            @keyframes vapen{
                0%{
                    top: 0;
                }
                25%{
            
                    transform: translateX(-100%);
                    left: 100%;
                    top: 0;
                }
                50%{
                    transform: translateX(-100%);
                    left: 100%;
                    transform: translate(-100%, -100%);
                    top: 100%;
                }
                75%{
                    top: 100%;
                    transform: translateY(-100%);
                    left: 0;
                }
                100%{
                    top: 0;
                }
            }
            .header-image{
                display: flex;
                position: absolute;
                left: 0;
                top: 0;
                animation: vapen 10s linear infinite;


                img{
                    width: 100px; 
                }
            }
        }
    }

    main{
        display: flex;
        flex-direction: row;

        nav{
            display: flex;
            justify-content: center;

            ul{
                display: flex;
                flex-direction: column;
                gap: 20px;
                padding: 0;

                li{
                    list-style: none;
                    display: flex;
                    gap: 5px;

                    a{
                        text-decoration: none;
                    }
                }
                .active-page a{
                    border-bottom: 2px solid white;
                }


                .noactive-page i{
                    visibility: hidden;
                }
                
            }
        }
        .content{
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #CE1212;
            padding: 20px 0;
            gap: 10px;

            article {
                width: 90%;
                gap: 20px;
                background-color: white;
                border-radius: 10px;
                box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
                border-radius: 5px;
                padding: 10px 10px;

            img{
                    width: 100%;
                    border-radius: 5px;
                }
            }

        }

    }
    @media screen and (min-width: 768px){
        header{
            height: 25%;
            font-size: 2.5em;
        }
        main{
            flex-direction: row;
               nav{
                    width: 100%;
                    font-size: x-large;
                    ul {
                        display: flex;
                        flex-direction: row;

                        li *{
                            margin-right: 5px;
                        }
                    }
                }
            }

            .content{
                width: 70%;

                article{
                    display: flex;
                    width: 95%;
                    font-size: 1.2em;

                    .content-img{
                    width: 50%;
                    }
                
                    .content-title{
                    width: 50%;
                    }
                }
                img{
                    height: 100%;
                }
            }

    }
}