body{
    *{
        margin: 0;
    }
}

.container {
    display: flex;
    flex-direction: column;
    width: 50%;
    & .myBtn {
        width: 200px;
        height: 200px;
        background-color: red;
        color: yellow;
        border-radius: 50%;
        border: none;
        box-shadow: 0 0 20px rgba($color: #000000, $alpha: 0.3);
        font-size: 2em;
        font-weight: 700;
        &:hover{
            cursor: pointer;
            color: orange;
            background-color: darkred;
        }
        &:active{
            background-color: rgb(78, 0, 0);
        }
    }
    p{
        margin-bottom: 50px;
        border-bottom: 3px solid black;

    }

    span{
        font-size: 30px;
        color: blue;
        font-weight: 700;
    }
}